src/__pycache__/*
**/**/*.pdf
**/**/*.aux
**/**/*.fdb_latexmk
**/**/*.log
**/**/*.fls
**/**/*.toc
**/**/.gitkeep
**/**/*.synctex.gz
**/**/*.out
**/**/*.bcf
**/**/*.blg
**/**/*.bbl
**/**/*.brf
**/**/*.lof
**/**/*.nlo
**/**/*.bib
**/**/*.run.xml
**/**/*.DS_Store
**/**/*.webarchive
